// Default variable overrides
$primary: #1b71b8;

/**
$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
);
*/

$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px
);

// Required
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/maps';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/root';

@import '/node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Urbanist', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: currentColor;
  &:hover {
    color: currentColor;
  }
}